body, html{
	height: 100%;
	font-family: "Century Gothic";
	font-weight: lighter;
	background-color: white
}

img{
	color: darkred;
}

.pic{
	border: 1px solid black;
	border-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-bottom: 30px;
}

header{
	height: 50px;
	margin: 5px 2px 2px 2px;
	padding: 1px 1px 1px 1px;
}

.greeting{
	position: absolute;
	right: 65px;
	top: 5px;
	font-family: "Myriad pro";
}

.edit{
	color: #ffffff; 
	border-width: all; 
	font-size: 16px; 
	margin-left: 10px;
	font-family: "Ebrima";
	font-weight: lighter;
}

.menu{
	float: left;
	width: 205px;
	margin-top: 5px;
	display: block;
	margin-left: 5px;
	border-radius: 5px;
	background-color: ghostwhite;
	text-align: center;
	height: 900px;
	font-family: "Century Gothic";
	font-weight: lighter;
}

.menu2{
	background-color: ghostwhite;
	clear: all;
	width: all;
}

.main_section{
	margin-left: 225px;
	margin-top: 5px;
	width: all;
	border: 1px solid black;
	border-radius: 5px;
	background-color: ghostwhite;
}

.form-ui-panel{
	border: 1px solid #5D6D7E;
	border-bottom-right-radius: 5px;
	background-color: ghostwhite;
	padding-bottom: 20px;
}

.form-ui-panel .pane{
	margin-top: 10px;
	margin-left: 100px;
	margin-right: 20px;
	margin-bottom: 10px;
	padding: 10px;
	border-bottom: 3px solid #eee;
	border-right: 3px solid #eee;
}

input, select{
	position: absolute;
	left: 500px;
	border: 1px solid purple;
	background-color: ghostwhite;
	width: 500px;
}

label{
	font-weight: lighter;
	color: purple;
}

.form-ui-panel textarea{
	width: 500px;
	position: relative;
	padding: 10px;
	border: 1px solid purple;
	left: 62px;
}

.form-ui-panel .pane .address{
	position: relative;
	top: -45px;
}

a{
	text-decoration: none;
	color: black;
	line-height: 50px;
}

a:hover{
	text-decoration: none;
	color: #7B241C;
}

button:hover{
	background-color: darkred;
	border-radius: 5px;
}

footer{
	clear: both;
	height: 60px;
	margin-top: 30px;
	border: 1px solid green;
}