body, html{
	height: 100%;
	font-family: arial;
	font-weight: bold;	
}

img{
	color: #ffffff;
}

header{
	height: 50px;
	margin: 5px 2px 2px 2px;
	padding: 1px 1px 1px 1px;
}

.greeting{
	position: absolute;
	right: 65px;
	top: 5px;
	color: #301023;
}

.greeting:hover{
	color: #F39C12;
}

.edit{
	color: #ffffff; 
	border-width: all; 
	font-size: 16px; 
	margin-left: 10px;
	font-weight: bolder;
}

.menu{
	float: left;
	width: 205px;
	margin-top: 5px;
	display: block;
	margin-left: 5px;
	border-radius: 5px;
	background-color: #5D6D7E;
	text-align: center;
	height: 878px;
	border: 2px solid #301023;
}

.main_section{
	margin-left: 220px;
	margin-right: 5px;
	margin-top: 5px;
	width: all;
	border: 1px solid #301023;
	border-radius: 5px;
	background-color:#5D6D7E;;
	color: #ffffff;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

.form-ui-panel{
	border: 1px solid #301023;
	border-bottom-right-radius: 5px;
	background-color: white;
}

.form-ui-panel .pane{
	margin-top: 10px;
	margin-left: 100px;
	margin-right: 20px;
	margin-bottom: 10px;
	padding: 10px;
}

input, select{
	position: absolute;
	left: 500px;
}

.form-ui-panel textarea{
	position: relative;
	padding: 10px;
	border: 1px solid #616A6B;
	left: 35px;
}

.form-ui-panel .pane .address{
	position: relative;
	top: -45px;
}

a{
	text-decoration: none;
	color: #000000;
}

a:hover{
	text-decoration: none;
	color: #F39C12;
}
 
a:hover{
	text-decoration: none;
	color: #F39C12;
} 

footer{
	position: absolute;
	left: 550px;
	text-align: center;
	color: #000000;
}

button{
	position: relative;
	left: 180px;
	color: black;
	border: 1px solid grey;
	box-shadow: 2px 2px 2px 2px;
	border-radius: 5px;
	width: 100px;
	height: 50px;
	font-weight: bolder;
	font-size: 15px;
}

button:hover{
	color: #5D6D7E;
}

footer:hover{
	color: #F39C12;
}
